<html>
    <title>Main Page</title>
    <body bgcolor="cyan">
        <marquee><h1>Welcome to this Online Gaming Page :)</h1></marquee>

        <ul>
            <li><h3><a href="rps_intro">Rock Paper Scissors (Unlimited rounds)</a></h3></li>
            <li>
                <h3><a href="rps_v2">Rock Paper Scissors (Limited rounds)</a></h3>
            </li>
        </ul>
        
    </body>
</html>