<html>
    <title>Main Page</title>
    <style>
        /* *{
            color: rgb(136, 12, 54);
        } */
        body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: #05a3a8;
        color: rgb(136, 12, 54);
        }

        h1{
            font-size: 50px;
            color: rgb(21, 122, 46);
        }
        
        .img_l{
            text-align: right;
            display: inline-block;
            font-size: 18px;
            /* margin: 15px 2px 0px 230px; */
            font-family: cursive;
        }

        .img_r{
            text-align: right;
            display: inline-block;
            font-size: 18px;
            /* margin: 15px 2px 0px 100px; */
            font-family: cursive;
        }



    </style>
    <body>
       <br><marquee bgcolor="yellow" height="90px" scrollamount="18">
           <h1>Welcome to this Online Gaming Page :)</h1></marquee>
        <br><br><br>



        <div class="img_l">
            <a href="f_ninja"><img src="icons/fruit-ninja.jpg" alt="Fruit ninja" height="200px" width="300px" style="margin: 15px 2px 0px 290px;"></a><br>
            <h3><a href="f_ninja" style="color: crimson; text-decoration: none;">Fruit ninja Master</a>
            </h3>
        </div>
        
        <div class="img_r">
            <a href="/flappy"><img src="icons/flappy-bird.jpg" alt="flappy game" height="200px" width="300px" style="margin: 15px 2px 0px 180px;"></a><br>
            <h3><a href="/flappy" style="color: crimson; text-decoration: none;">Free flappy Bird</a></h3>
        </div>
        <br><br><br>



        <div class="img_l">
            <a href="rps_intro"><img src="icons/rps_u.jpg" alt="Rock Paper Scissor" height="200px" width="300px" style="margin: 15px 2px 0px 290px;"></a><br>
            <h3><a href="rps_intro" style="color: crimson; text-decoration: none;">Rock Paper Scissors (Unlimited rounds)</a>
            </h3>
        </div>
        
        <div class="img_r">
            <a href="rps_v2"><img src="icons/rps.jpg" alt="Rock Paper Scissor" height="200px" width="300px" style="margin: 15px 2px 0px 180px;"></a><br>
            <h3><a href="rps_v2" style="color: crimson; text-decoration: none;">Rock Paper Scissors (Limited rounds)</a></h3>
        </div>
        <br><br><br>



        <div class="img_l">
            <a href="/tic_tac"><img src="icons/tic-tac.png" alt="Tic-Tac-Toe" height="200px" width="300px" style="margin: 15px 2px 0px 290px;"></a><br>
            <h3><a href="/tic_tac" style="color: crimson; text-decoration: none;">Tic-Tac-Toe (Human vs Human)</a>
            </h3>
        </div>
         
        <div class="img_r">
            <a href="chess"><img src="icons/chess.jpg" alt="Chess game" height="200px" width="300px" style="margin: 15px 2px 0px 180px;"></a><br>
            <h3><a href="chess" style="color: crimson; text-decoration: none;">Chess Battleground (Human vs Human)</a></h3>
        </div>
        <br><br><br>


        

        
        <br><br><br><br>
        <marquee bgcolor= "green" scrollamount="15">
            <font color="yellow" size="20px">Made by Mr. $@!N!  *_*</font>
        </marquee><br><br><br>
    </body>
</html>