

<style>
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 100%;

        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: rgb(3, 99, 155);
        overflow: hidden;
        background-image: url("img2.jpg");
    }



.login-button {
padding: 10px;
border: none;
border-radius: 3px;
background: transparent;
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
font-weight: 500;
color: #e9ec0e;
cursor: pointer;
opacity: 1;
animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
transition: background 0.2s ease-in-out;
}

.last_1 {
color: #c04208;
font-family: 'Roboto', sans-serif;
font-size: 0.9rem;
font-weight: 500;

}

.last_2 {
color: #0fc509;
font-family: 'Roboto', sans-serif;
font-size: 1.5rem;
font-weight: 800;

}

</style>





<div class="last_2"><h1>** SAINI GAMING SERVER **</h1></div>

   


